.form {
    padding: ($gap * 1.5) 0;
    background-color: $color-primary;

    @include lg-sm{
        padding: $gap 0;
    }
    @include sm {
        padding: $gap 0;
    }
    &__form {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }
    &__container {
        @extend %container;
    }
    &__item {
        flex: 0 1 33.33%;
        padding: 0 ($gap / 2);
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 1.8px;

        @include sm {
            flex: 0 1 100%;
        }
    }
    &__item:nth-child(1) {
        @include md-sm {
            flex: 0 1 100%;
            margin: 0 0 $gap;
        }
    }
    &__item:nth-child(2),
    &__item:nth-child(3){
        @include md-sm {
            flex-grow: 1;
        }
    }
    &__item:nth-child(1),
    &__item:nth-child(2) {
        @include sm {
            margin: 0 0  $gap;
        }

    }
    &__user-name,
    &__user-email {
        width: 100%;
        padding: $gap ($gap * 2);
        border-width: 2px;
        background-color: rgba($color-light, 0.05);
        border-color: rgba($color-light, 0) rgba($color-light, 0) rgba($color-light, 0.4);

        &:hover {
        border-color: rgba($color-light, 0.4) rgba($color-light, 0.4) rgba($color-light, 1);
        background-color: rgba($color-light, 0.1);
        transition-duration: 0.5s; 
        &::placeholder {
            transition-duration: 0.5s;
            color: rgba($color-light, 0.6)
        } 
        }
        
        &::placeholder {
            color: rgba($color-light, 0.3); 
        }
        
    }
    &__button {
        width: 100%;
        padding: $gap ($gap * 2);
        border-width: 2px;
        background-color: rgba($color-light, 0.05);
        border-color: rgba($color-light, 0) rgba($color-light, 0) rgba($color-light, 0.4);
        border-style: solid;
        color: $color-light;
        &:hover {
            background-color: $color-accent;
            border-color: $color-light;
            transition-duration: 0.5s;  
          }
    }
}