.about {
    padding: 0 0 60px;
    background-color: $color-gray-light;
    
    @include lg-md {
      padding: 0 0 29px;
    }
    @include md-sm {
      padding: 0 0 18px;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        @extend %container; 

        @include sm {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
    }
}
    &__column-content {
        padding: ($gap * 5) 0 0;
        
        @include lg-md {
        padding: ($gap * 4) 0 0;
        }

        @include md-sm {
        padding: ($gap * 3) 0 0;
        }

        @include sm {
        padding: 57px 0 0;
        }
  }
  &__column-image {
    padding: ($gap * 5) 0 0 ($gap * 2);

    @include lg-md {
      padding: 50px 0 0 25px;
    }

    @include md-sm {
      padding: 36px 0 0 55px;
    }

    @include sm {
      padding: 0;
      text-align: center;
    }
  }
  &__image {
    @include md-sm {
      max-width: 236px;
    }
  }
    &__text {
        padding: 0 50px 0 0;
        width: 100%;
        font-size: 1.125rem;
        letter-spacing: 0.055em;
        line-height: 24px;
        position: relative;

        @include lg-md {
             p:nth-child(4) {
            display: none; 
            padding: 0 24px 0 0;
            }
        } 
        @include md-sm {
             p:nth-child(4) {
                display: none; 
                }
             p:nth-child(3) {
                display: none; 
            }
            font-size: 1rem;
            letter-spacing: 0.8px;
        } 
        @include sm {
            font-size: 1rem;
            letter-spacing: 0.8px;
            padding: 0;
            margin: 0 0 ($gap *2);
            &::after {
                display: none;
            }
        }
        &::after {
            content:'';
            position: absolute;
            top: 0;
            right: 0;
            width: 1.3px;
            height: 200px;
            background-color: rgba($color-gray, 0.2);

            @include sm {
              display: none;
            }
          }
          & p:nth-child(3) {
            
            @include md-sm {
              display: none;
            }
          }
          & p:nth-child(4) {
      
            @include lg {
              display: none;
            }
          }
          @include lg-md {
            padding: 0 14px 0 0;
          }
          @include md {
            font-size: 1rem;
            letter-spacing: 0.8px;
          }
          @include md-sm {
            padding: 0 21px 0 0;
          }
      
          @include sm {
            padding: 0;
            margin: 0 0 ($gap * 2);
          }
        }
  
  &__title {
        max-width: 360px;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 4px;
        line-height: 48px;
        margin: 0 0 47px;
        
        @include lg-md {
            font-size: 2rem;
            max-width: 300px;
            letter-spacing: 3.2px;
            line-height: 40px;
            margin: 0 0 34px;
          }
      
          @include md-sm {
            font-size: 1.5rem;
            max-width: 220px;
            letter-spacing: 2.4px;
            line-height: 32px;
            margin: 0 0 25px;
          }
      
          @include sm {
            text-align: center;
            margin: 0 auto 21px;
            font-size: 1.5rem;
            letter-spacing: 2.4px;
            line-height: 32px;
            max-width: 220px;
          }
    }
}
