.footer {
    background-color: $color-primary;
    padding: 50px 0 ($gap * 3);

    &__container {
        @extend %container;
    }
    
    &__row {
        display: flex;
        justify-content: center;
    }
}